@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");

.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 180px;
  height: 220px;
  top: 22%;
  left: 50%;
  transform-style: preserve-3d;
  animation: autoRun 20s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: translate(-50%, -50%) perspective(1000px) rotateX(-16deg)
      rotateY(0deg);
  }
  to {
    transform: translate(-50%, -50%) perspective(1000px) rotateX(-16deg)
      rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.banner .content h1 {
  font-family: "ICA Rubrick";
  font-size: 10em;
  line-height: 1em;
  color: #25283b;
  position: relative;
}

.banner .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px #d2d2d2;
  color: transparent;
}

.banner .content .author {
  font-family: Poppins;
  text-align: right;
  max-width: 220px;
  margin-left: auto;
  z-index: 2;
}

.banner .content h2 {
  font-size: 3em;
}

.banner .content .model {
  background-image: url(./img/ash.png);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}
